## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## RUBYMINE
.idea

pkg/
foreman_installer/pkg/
foreman_installer/generate_answers.rb
foreman_installer/LICENSE
foreman_installer/README.md
VERSION
_build
