[submodule "tftp"]
	path = modules/tftp
	url = https://github.com/theforeman/puppet-tftp.git
[submodule "apache"]
	path = modules/apache
	url = https://github.com/stbenjam/puppetlabs-apache.git
[submodule "foreman"]
	path = modules/foreman
	url = https://github.com/theforeman/puppet-foreman.git
[submodule "foreman_proxy"]
	path = modules/foreman_proxy
	url = https://github.com/theforeman/puppet-foreman_proxy.git
[submodule "puppet"]
	path = modules/puppet
	url = https://github.com/theforeman/puppet-puppet.git
[submodule "xinetd"]
	path = modules/xinetd
	url = https://github.com/puppetlabs/puppetlabs-xinetd.git
[submodule "git"]
	path = modules/git
	url = https://github.com/theforeman/puppet-git.git
[submodule "dhcp"]
	path = modules/dhcp
	url = https://github.com/theforeman/puppet-dhcp
[submodule "dns"]
	path = modules/dns
	url = https://github.com/theforeman/puppet-dns
[submodule "concat_native"]
	path = modules/concat_native
	url = https://github.com/theforeman/puppet-concat.git
[submodule "mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppet-postgresql.git
[submodule "stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "concat"]
	path = modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "create_resources"]
	path = modules/create_resources
	url = https://github.com/puppetlabs/puppetlabs-create_resources.git
