[submodule "tftp"]
	path = tftp
	url = git://github.com/theforeman/puppet-tftp.git
[submodule "apache"]
	path = apache
	url = git://github.com/theforeman/puppet-apache.git
[submodule "foreman"]
	path = foreman
	url = git://github.com/theforeman/puppet-foreman.git
[submodule "foreman_proxy"]
	path = foreman_proxy
	url = git://github.com/theforeman/puppet-foreman_proxy.git
[submodule "passenger"]
	path = passenger
	url = git://github.com/theforeman/puppet-passenger.git
[submodule "puppet"]
	path = puppet
	url = git://github.com/theforeman/puppet-puppet.git
[submodule "xinetd"]
	path = xinetd
	url = git://github.com/theforeman/puppet-xinetd.git
