---
lookup_options:
  postgresql::server::config_entries:
    merge: hash

qpid::open_file_limit: 65536
qpid::router::open_file_limit: 150100

postgresql::server::config_entries:
  checkpoint_completion_target: 0.9
  max_connections: 500
  shared_buffers: 512MB
  work_mem: 4MB
  log_line_prefix: '%t '
  log_min_duration_statement: 1000
  log_rotation_size: 200000
