---
certs:
  generate: false
  deploy: true
foreman_proxy_content:
  qpid_router_broker_addr: localhost
puppet:
  server: true
  server_environments_owner: apache
  server_foreman_ssl_cert: /etc/pki/katello/puppet/puppet_client.crt
  server_foreman_ssl_key: /etc/pki/katello/puppet/puppet_client.key
  server_foreman_ssl_ca: /etc/pki/katello/puppet/puppet_client_ca.crt
foreman_proxy:
  custom_repo: true
  http: true
  ssl_port: '9090'
  templates: true
  ssl_ca: /etc/foreman-proxy/ssl_ca.pem
  ssl_cert: /etc/foreman-proxy/ssl_cert.pem
  ssl_key: /etc/foreman-proxy/ssl_key.pem
  foreman_ssl_ca: /etc/foreman-proxy/foreman_ssl_ca.pem
  foreman_ssl_cert: /etc/foreman-proxy/foreman_ssl_cert.pem
  foreman_ssl_key: /etc/foreman-proxy/foreman_ssl_key.pem
  use_autosignfile: true
  manage_puppet_group: false
foreman_proxy::plugin::pulp:
  enabled: false
  pulpnode_enabled: true
foreman_proxy::plugin::ansible: false
foreman_proxy::plugin::dhcp::infoblox: false
foreman_proxy::plugin::dns::infoblox: false
foreman_proxy::plugin::openscap: false
foreman_proxy::plugin::remote_execution::ssh: false
foreman_proxy::plugin::discovery: false 
