---
:name: Katello
:description: Install Foreman with Katello

:log_dir: './_build/'
:log_name: 'katello.log'
:log_level: DEBUG
:verbose: true
:verbose_log_level: notice

:answer_file: ./config/katello-answers.yaml
:installer_dir: .
:module_dirs: ./_build/modules
:hook_dirs: ['./katello/hooks']
:parser_cache_path: ./_build/parser_cache/katello.yaml
:hiera_config: ./config/foreman-hiera.yaml
:facts:
  tuning: 'default'

:order:
  - certs
  - foreman
  - katello
  - foreman_proxy
  - foreman_proxy::plugin::pulp
  - foreman_proxy_content
  - puppet

# If using the Debian ruby-kafo package, uncomment this
# :kafo_modules_dir: /usr/lib/ruby/vendor_ruby/kafo/modules

# Unused, but remains present for older config migrations
:mapping: {}
