# Format:
# <classname>: false - don't include this class
# <classname>: true - include and use the defaults
# <classname>:
#   <param>: <value> - include and override the default(s)
#
# Every support plugin/compute class is listed, so that it
# shows up in the interactive menu
#
# See params.pp in each class for what options are available
---
certs:
  group: foreman
foreman:
  client_ssl_ca: /etc/foreman/proxy_ca.pem
  client_ssl_cert: /etc/foreman/client_cert.pem
  client_ssl_key: /etc/foreman/client_key.pem
  initial_location: Default Location
  initial_organization: Default Organization
  server_ssl_ca: /etc/pki/katello/certs/katello-default-ca.crt
  server_ssl_cert: /etc/pki/katello/certs/katello-apache.crt
  server_ssl_chain: /etc/pki/katello/certs/katello-server-ca.crt
  server_ssl_crl: ""
  server_ssl_key: /etc/pki/katello/private/katello-apache.key
foreman::cli: true
foreman::cli::ansible: false
foreman::cli::azure: false
foreman::cli::discovery: false
foreman::cli::katello: true
foreman::cli::kubevirt: false
foreman::cli::openscap: false
foreman::cli::puppet: false
foreman::cli::remote_execution: true
foreman::cli::ssh: false
foreman::cli::tasks: false
foreman::cli::templates: false
foreman::cli::virt_who_configure: false
foreman::cli::webhooks: false
foreman::compute::ec2: false
foreman::compute::gce: false
foreman::compute::libvirt: false
foreman::compute::openstack: false
foreman::compute::ovirt: false
foreman::compute::vmware: false
foreman::plugin::acd: false
foreman::plugin::ansible: false
foreman::plugin::azure: false
foreman::plugin::bootdisk: false
foreman::plugin::chef: false
foreman::plugin::column_view: false
foreman::plugin::default_hostgroup: false
foreman::plugin::dhcp_browser: false
foreman::plugin::discovery: false
foreman::plugin::dlm: false
foreman::plugin::expire_hosts: false
foreman::plugin::git_templates: false
foreman::plugin::hooks: false
foreman::plugin::kubevirt: false
foreman::plugin::leapp: false
foreman::plugin::memcache: false
foreman::plugin::monitoring: false
foreman::plugin::netbox: false
foreman::plugin::openscap: false
foreman::plugin::puppet: false
foreman::plugin::puppetdb: false
foreman::plugin::remote_execution: true
foreman::plugin::remote_execution::cockpit: false
foreman::plugin::rescue: false
foreman::plugin::rh_cloud: false
foreman::plugin::salt: false
foreman::plugin::scc_manager: false
foreman::plugin::setup: false
foreman::plugin::snapshot_management: false
foreman::plugin::statistics: false
foreman::plugin::tasks: true
foreman::plugin::templates: false
foreman::plugin::vault: false
foreman::plugin::virt_who_configure: false
foreman::plugin::webhooks: false
foreman::plugin::wreckingball: false
foreman_proxy:
  foreman_ssl_ca: /etc/foreman-proxy/foreman_ssl_ca.pem
  foreman_ssl_cert: /etc/foreman-proxy/foreman_ssl_cert.pem
  foreman_ssl_key: /etc/foreman-proxy/foreman_ssl_key.pem
  manage_puppet_group: false
  ssl_ca: /etc/foreman-proxy/ssl_ca.pem
  ssl_cert: /etc/foreman-proxy/ssl_cert.pem
  ssl_key: /etc/foreman-proxy/ssl_key.pem
  ssl_port: '9090'
  puppet: false
  puppetca: false
foreman_proxy::plugin::acd: false
foreman_proxy::plugin::ansible: false
foreman_proxy::plugin::chef: false
foreman_proxy::plugin::dhcp::infoblox: false
foreman_proxy::plugin::dhcp::remote_isc: false
foreman_proxy::plugin::discovery: false
foreman_proxy::plugin::dns::infoblox: false
foreman_proxy::plugin::monitoring: false
foreman_proxy::plugin::openscap: false
foreman_proxy::plugin::remote_execution::script: false
foreman_proxy::plugin::salt: false
foreman_proxy::plugin::shellhooks: false
foreman_proxy_content: true
katello: true
puppet: false
